apiVersion: v1
kind: Config
preferences: {}
current-context: service-account-context
contexts:
- context:
    cluster: local
    user: kube-proxy
  name: service-account-context
clusters:
- cluster:
    certificate-authority: /var/lib/kubernetes/ca.pem
    server: https://{{ k8s_internal_apiserver_host }}:6443
  name: local
users:
- name: kube-proxy
  user:
    as-user-extra: {}
    client-certificate: /var/lib/kube-proxy/kube-proxy.pem
    client-key: /var/lib/kube-proxy/kube-proxy-key.pem
